@Model Contract

@{
    ViewData["Title"] = "Create";
}

<h1>Create new contract</h1>

@*@using (HtmlBeginForm())
    {
        @Html.Hidden("Id");
        <br />
        @Html.TextBox("Place");
    }*@



<form method="post">
    <div id="divCont">
        <div>
            <input type="text" name="txttest" style="width:200px;" />
            <input type="button" onclick="AddTextBox()" value="Add" />
        </div>
        <br />
        <input type="submit" value="submit" />
    </div>
</form>

<script type="text/javascript">
    function GetDynamicTextBox(value) {
        return '<div><input type="text" name="txttest" style="width:200px;"/>' +
            '<input type = "button" onclick = "RemoveTextBox(this)" value = "Remove" /><div/>'
    }
    function AddTextBox() {
        var div = document.createElement('DIV');
        div.innerHTML = GetDynamicTextBox("");
        document.getElementById("divCont").appendChild(div);
    }
    function RemoveTextBox(div) {
        document.getElementById("divCont").removeChild(div.parentNode.parentNode);
    }
</script>