@model List<TypeTextViewModel>

<div class="center content-box-min">
    <h4 class="float-md-left">Типы текстов</h4>
    <a class="add-btn my-btn float-md-right" title="Добавить" id="Add">
        <img src="~/Images/add.png" class="s-add-btn" />
    </a>
    <form asp-action="AllTypeTexts" enctype="multipart/form-data">
        <table class="table full">
            <thead>
                <tr>
                    <th>Название:</th>
                </tr>
            </thead>
            <tbody id="body">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr id=@($"container{i}")>
                        <td>
                            <input asp-for="@Model[i].TypeText.Name" class="form-control float-md-left" />
                            @Html.HiddenFor(c => c[i].TypeText.Id)
                            @Html.HiddenFor(c => c[i].Deleted)
                            <a class="remove float-md-left " title="Удалить">
                                <img src="~/Images/remove.png" class="s-remove-btn" />
                            </a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
        <div>
            <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        </div>
    </form>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        $("#Add").click(AddTypeText);
        $(".remove").click(RemoveTypeText);
    });

    function AddTypeText() {
        var TypeTextsBlock = $($(document).find(".table")[0]).find("#body")[0];
        var Count = $(document).find("[id*='container']").length;
        console.log(TypeTextsBlock);
        var Tr = $("<tr/>").attr("id", "container" + Count).appendTo(TypeTextsBlock);
        var Td = $("<td/>").appendTo(Tr);
        $("<input/>")
            .attr("class", "form-control float-md-left")
            .attr("type", "text")
            .attr("name", "[" + Count + "].TypeText.Name")
            .attr("id", "z" + Count + "__TypeText_Name")
            .appendTo(Td);

        $("<input/>").attr("data-val", true).attr("name", "[" + Count + "].TypeText.Id")
            .attr("type", "hidden").attr("data-val-required", "The Id field is required.")
            .attr("id", "z" + Count + "__TypeText_Id").appendTo(Td);
        $("<input/>").attr("data-val", true).attr("data-val-required", "The Id field is required.")
            .attr("name", "[" + Count + "].Deleted")
            .attr("id", "z" + Count + "__Deleted")
            .attr("type", "hidden")
            .attr("value", "false")
            .attr("class", "check-box")
            .appendTo(Td);

        var ImgLink = $("<a/>").attr("class", "remove float-md-left").attr("title", "Удалить").appendTo(Td);
        $("<img/>").attr("src", "/Images/remove.png").attr("class", "s-remove-btn").appendTo(ImgLink);
    }

    function RemoveTypeText() {
        if (confirm("Вы действительно хотите удалить тип текста?")) {
            var Container = $(this)[0].closest("[id*='container']");
            $($(Container).find("[id$='__Deleted']")[0]).val(true)
            $(Container).attr("hidden", true);
        }
    }

</script>
}