@model List<ApplicationUser>

<div class="center setting-box">
    <h4>Все пользователи</h4>
    <a asp-controller="Setting" asp-action="CreateUser" class="float-md-left">
        <input type="button" value="Добавить пользователя" />
    </a>
    <table class="table full">
        <thead>
            <tr>
                <th>Имя:</th>
                <th>Логин:</th>
                @*<th>Роль:</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (ApplicationUser au in Model)
            {
                <tr>
                    <td>@au.Name</td>
                    <td>@au.UserName</td>
                </tr>
            }

        </tbody>
    </table>


</div>