
<div class="">
    <div class="center setting-box">
        <h4>Настройки</h4>
        <div class="wrapper w3">
            <div>
                <a type="button" class="setting-btn" asp-controller="Setting" asp-action="AllUsers" style="margin-left: 0px;">
                    <input class="setting-btn" type="button" value="Пользователи" />
                </a>
            </div>
            <div>
                <a type="button" class="setting-btn" asp-controller="Setting" asp-action="AllTypePortraits" style="margin-left: 0px;">
                    <input class="setting-btn" type="button" value="Типы портретов" />
                </a>
            </div>
            <div>
                <a type="button" class="setting-btn" asp-controller="Setting" asp-action="AllTypeTexts" style="margin-left: 0px;">
                    <input class="setting-btn" type="button" value="Типы текстов" />
                </a>
            </div>
            <div>
                <a type="button" class="setting-btn" asp-controller="Setting" asp-action="AllMaterialsMedallions" style="margin-left: 0px;">
                    <input class="setting-btn" type="button" value="Материалы медальонов" />
                </a>
            </div>
            <div>
                <a type="button" class="setting-btn" asp-controller="Setting" asp-action="AllShapesMedallions" style="margin-left: 0px;">
                    <input class="setting-btn" type="button" value="Формы медальонов" />
                </a>
            </div>
            <div>
                <a type="button" class="setting-btn" asp-controller="Setting" asp-action="AllColorsMedallions" style="margin-left: 0px;">
                    <input class="setting-btn" type="button" value="Цветность медальонов" />
                </a>
            </div>
        </div>
    </div>

</div>




