@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="content-box">
    <div class="center">
        <h4>@ViewData["Title"]</h4>

        <form id="account" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Input.Name"></label>
                            </div>
                        </td>
                        <td style="padding-left: 10px">
                            <div class="form-group">
                                <input asp-for="Input.Name" class="form-control" />
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                            </div>
                        </td>
                        <td style="padding-left: 10px">
                            <div class="form-group">
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                            </div>
                        </td>
                        <td style="padding-left: 10px">
                            <div class="form-group">
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                            </div>
                        </td>
                        <td style="padding-left: 10px">
                            <div class="form-group">
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label >Роль: </label>
                            </div>
                        </td>
                        <td style="padding-left: 10px">
                            <div class="form-group">
                                <select asp-for="Input.Role" class="full form-control">
                                    <option value="manager">Менеджер</option>
                                    <option value="artist">Художник</option>
                                    <option value="engraver">Гравер</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </form>
    </div>


</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
